h1 {
    background-color: darkcyan;
    color: white;
}
.container {
    
}
.row {
    
}
.col-sm-3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
img {
    width: 100%;
    height: auto;
}