/**
* Z-Index: let's us postion elements on top of each other (the z-axis controls depth postion)
**/
.box-set {
    background-color: darkgray;
}
.box {
    background-color: darkgreen;
    height: 80px;
    position: relative;
    width: 80px;
}
.box-1 {
    left: 10px;
    top: 10px;
}
.box-2 {
    bottom: 10px;
    left: 70px;
    z-index: 3;
}
.box-3 {
    left: 130px;
    top: 10px;
    z-index: 2;
}
.box-4 {
    bottom: 10px;
    left: 190px;
    z-index: 1;
}